/*-------------------
    RESET
-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    /* border: 1px solid black;
    border-style: dashed;*/
} 

/* :not(div){
border-style: none;
} */ 
/* ******************* */
/* ----HEADER ------------------------------------------------ */
/* ******************* */
header {
     padding: 18px 0;
     height: 80px;
     background-color: #3161e0;
}
.conteiner{
    max-width: 1180px;
    margin: 0 auto;
    background-color: transparent;
    display: flex;
   
}
.box-header{
    height: 100%;
    padding: 10px;
}
.box-left{
    width: 25%; 
    padding: 0px;   
}
.box-center{
    width: 50%;
    text-align: center;
}
.box-center ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.box-center a {
    text-decoration: none;
    color: white;
}
.box-right{
    width: 25%;
    text-align: end;
    color: white;
    padding: 0;
}
.box-right .button{
    background-color: white;
}
/* ******************* */
/* ----SECTION 1 ------------------------------------------------------------------------------------------------------------------------- */
/* ******************* */
.section-1{
    background-color: white;
    height: 500px;
    padding: 50px 0;
    background-image: url(img/jumbo.png);
    background-size: cover;
    margin: 0;
}
.section-1 h1 {
    font-size: 50px;
    color: white;
} 
.section-1 p {
    font-size: 20px;
    color: white;
}
.section-1 .contenitor-section{
    max-width: 900px;
}
.section-1 .element-1{
    width: 900px;
    background-color: transparent;
    text-align: center;
    padding: 50px 140px;
}
/* ******************* */
/* ----SECTION 2 ------------------------------------------------ */
/* ******************* */
.section-2{
    background-color: white;
    height: 600px;
    padding: 50px 0;
}
.section-2 .element-1{
    width: 60%;
    padding-top: 80px;
    text-align: right;

}
.section-2 .element-2{
    width: 40%;
}
.curva {
    background-position: center;
    background-size: cover;
}
/* ******************* */
/* ----SECTION 3 ------------------------------------------------ */
/* ******************* */
.section-3{
    background-color: #f6f6f6;
    height: 600px;
    padding: 50px 0;
}
.section-3 .element-1{
    width: 40%;
}
.section-3 .element-2{
    width: 60%;
    padding-top: 80px;
    text-align: center;
}
/* ******************* */
/* ----SECTION 4 ------------------------------------------------ */
/* ******************* */
.section-4{
    background-color: white;
    height: 600px;
    padding: 50px 0;
}
.section-4 .element-1{
    width: 60%;
    padding-top: 80px;
    text-align: end;
}
.section-4 .element-2{
    width: 40%;
}
/* ******************* */
/* ----SECTION 5 ------------------------------------------------ */
/* ******************* */
.section-5{
    background-color: #f6f6f6;
    height: 1000px;
    padding: 50px 0;
}
.section-5 p {
    padding: 0px 200px;
    font-size: 16px;
}
.section-5 img {
    width: 900px;
}
.section-5 .element-1{
    width: 100%;
    text-align: center;
}
.section-download h2 {
    padding: 30px;
    font-size:xx-large;
    margin-bottom: 10px;
}
.section-download .button {
    font-size: 20px;
}
.section-download{
    /* max-width: 200px;
    height: 400px; */
    background-image: url(img/stars.svg);
    background-position: top;
    background-repeat: no-repeat;
}
/* ******************* */
/* ----SECTION 6 ------------------------------------------------ */
/* ******************* */
.section-6{
    background-color: black;
    height: 550px;
    padding-top: 60px;
    padding-bottom: 40px;
    color: white;
}
.section-6 h1 {
    color: #7289da;
    font-size: 34px;
}
.section-6 .element-1 img {
    max-height: 20px;
    display: inline-block;
    vertical-align: middle;
}
.section-6 .element-1 p {
    display: inline-block;
    padding: 6px;
    vertical-align: middle;
}
.box-4-section{
    width: 100%;
    display: flex;
}
.box-4-section .element{
    width: calc(100%  / 4);
}
.section-6 .element-1 a{
    padding: 0 14px;
}
.icon-social {
    padding-top: 20px;
}
.section-6 ul {
    list-style-type: none;
    padding-left:  50px;
}
.section-6 a {
    text-decoration: none;
    color: white;
}
.section-6 li {
    padding-bottom: 16px;
} 
.section-6 ul li:first-child a {
    color: #7289da;
    font-size: 20px;
}
.section-6 .element-1{
    width: 30%;
}
/* ******************* */
/* ----STYLE ------------------------------------------------ */
/* ******************* */
h1 {
    font-size: 40px;
    padding-bottom: 25px;
}
p {
    padding-bottom: 25px;  
}
.section-2 img,.section-3 img,.section-4 img {
    max-width: 550px;
}

.section-2 .element-2 ,
.section-4 .element-2 ,
.section-3 .element-1 {
    padding: 110px 100px;
}
hr {
   border-color: #4a5882;
   width: 1180px;
   margin: 0 auto;

}
/* ******************* */
/* ----RULES GENERAL ---- */
/* ******************* */
.button {
    border-radius: 20px;
    background-color: white;
    padding: 10px 12px;
    text-align: center;
    border: 0 solid white;
}
.botton-black{
    background-color: black;
    color: white;
}
.botton-bluelight{
    background-color: #8ea1e1;
    color: white;
}
.contenitor-section{
    max-width: 1180px;
    height: 100%;
    margin: 0 auto;
    display: flex;
}
.contenitor-section div {
    height: 100%;
}
/* ******************* */
/* ----FOOTER ---- */
/* ******************* */
footer {
    padding-top: 20px;
    height: 160px;
    background-color: black;
}
.contenitor-footer{
    height: 100%;
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 24px 0
}
